* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	max-width: 100%;
}

:root {
	--clr-black: #161619;
	--clr-white: #FFF;
	--clr-primary: #F75454;
	--clr-accent: #26597F;
	--clr-grey: #949494;
	--clr-bg-grey: rgba(148, 148, 148, 0.1); /* Samme som "--clr-grey" men med opacity */
	--clr-gold: #E6C7B0;

	--font-body: "Inria Sans", sans-serif;
	--font-serif: "Inria Serif", serif;
	--font-scribble: "Mynerve", sans-serif;
}

body {
	font-family: var(--font-body);
	color: var(--clr-black);
}


hr {
	border: 1px solid var(--clr-bg-grey);
}

a {
	text-decoration: none;
	color: inherit;
}

p a, label a {
	text-decoration: underline;
	color: var(--clr-primary);
}

input[type=search], input[type=text], input[type=email], input[type=password], input[type=tel] {
	border-radius: .5rem;
	border: solid 1px var(--clr-grey);
	height: fit-content;
	width: 100%;
	padding: .75rem;
	font-weight: 300;
	font-size: .9rem;

	&::placeholder {
		color: var(--clr-grey);
	}
}

/* Utilities */

.sr__only {
	display: none;
}

.wrapper {
	max-width: 1500px;
	margin-inline: auto;

	@media (max-width: calc(1500px + 1rem)) {
		padding-inline: 1rem;
	}
}

.padding-block-2 {
	padding-block: 2rem;
}

.margin-block-2 {
	margin-block: 2rem;
}

.col__span-full {
	grid-column: 1 / -1;
}

@media (max-width: 800px) {
	.device-desktop {
		display: none !important;
	}
}

@media (min-width: 800px) {
	.device-mobile {
		display: none !important;
	}
}

.text-scribble {
	font-family: var(--font-scribble);
}

.text-serif {
	font-family: var(--font-serif);
}

.text-bold {
	font-weight: 700;
}

.btn {
	display: inline-block;
	padding: clamp(.25rem, 2.5vw, .5rem) clamp(.75rem, 5vw, 2rem);
	border-radius: .5rem;
	border: none;
	font-weight: 700;
	font-size: 1.2em;
	cursor: pointer;
	font-family: var(--font-serif);
	background: var(--clr-primary);
	color: var(--clr-white);
	transition: background-color .2s ease-in-out;

	&:hover {
		background: var(--clr-accent);
	}

	&.btn-icon {
		padding: .25rem;
		border-radius: 50%;
		background: transparent;
		color: var(--clr-black);
	}

	&.btn-empty {
		background: transparent;
		color: var(--clr-primary);
		font-weight: normal;
		font-size: 1em;
		padding: 0;
	}
}

/* Typography */

h2 {
	font-size: 2em;
}

/* Layout */

/* Nav section */

.nav-top, .nav-main {
	border-bottom: 2px solid var(--clr-bg-grey);
}

.nav-top > .wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;

	img {
		width: 10rem;
		min-width: 10rem;
	}

	input {
		max-width: 20rem;
	}
}

.nav-main {
	position: sticky;
	top: 0;
	z-index: 100;
	background: var(--clr-white);


	> .wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-family: var(--font-serif);

		img {
			height: 1.5em;
		}

		ul {
			list-style: none;
			display: flex;
			align-items: center;
			padding: 1rem;
			gap: 2rem;

			a, .btn {
				display: inline-flex;
				align-items: center;
				gap: .25rem;
			}
		}
	}
}


/* Hero section */

.hero {
	display: grid;
	width: 100%;
	color: var(--clr-white);

	> * {
		grid-area: 1 / 1 / -1 / -1;
		width: 100%;
		aspect-ratio: 10/5;
	}

	img {
		object-fit: cover;
		transform: scaleX(-1);
		z-index: -1;
		border-radius: .5rem;
	}

	.hero__content {
		padding: clamp(.5rem, 5vw, 4rem);

		font-size: clamp(.1rem, 1.5vw, 1rem);

		> * {
			margin-bottom: clamp(.5rem, 3vw, 2rem);
		}

		h1 {
			font-size: clamp(3em, 5vw, 4.5em);
		}
	}
}

/* Hits sektion */

.hits__container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
	gap: 2rem;

	.card {
		width: 100%;

		> * {
			margin-bottom: .5rem;
		}

		.card__image {
			background-color: var(--clr-bg-grey);
			padding: 1rem;
			border-radius: .5rem;
			width: 100%;
			aspect-ratio: 5/6;

			img {
				display: block;
				height: 100%;
				margin-inline: auto;
			}
		}

		.title {
			font-weight: 700;
		}

		.author {
			color: var(--clr-grey);
		}

		.price {
			font-weight: 600;
		}

		.stars {
			font-style: italic;
			color: var(--clr-grey);

			img {
				height: 1em;
			}

			span {
				font-size: .9rem;
			}
		}
	}
}

/* New release */

.new_release {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	background-color: var(--clr-bg-grey);
	overflow: hidden;
	border-radius: .5rem;

	.book_image__container {
		background-image: linear-gradient(-45deg, #02558F, #58194C);
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 4rem 1rem;

		img {
			height: clamp(30rem, 50vw, 40rem);
			transform: rotate(-2deg);
			box-shadow: 0 0 1rem .25rem var(--clr-black);
		}
	}

	.text__content {
		padding: clamp(3rem, 7vw, 7rem);

		h2, h3 {
			margin-bottom: .5em;
		}

		p {
			margin-bottom: 1rem;
		}

		.btn {
			margin-top: 2rem;
		}
	}

	@media (max-width: 800px) {
		grid-template-columns: 1fr;

		.book_image__container > img {
			height: clamp(20rem, 30vw, 30rem);
		}

		.text__content > .btn {
			display: block;
			width: fit-content;
			margin-inline: auto;
		}
	}
}

/* Footer */

.socials-and-payopts {
	display: flex;
	gap: 1rem;
	justify-content: center;
	flex-wrap: wrap;

	img {
		height: 3em;
	}
}

.pagefooter {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	gap: 8rem;
	row-gap: 2rem;
	background-color: var(--clr-bg-grey);
	padding: 4rem 4rem 8rem;

	.logo {
		display: inline-block;
		img {
			height: 4rem;
		}
	}

	p {
		margin-top: 1rem;
	}

	ul {
		list-style: none;
		line-height: 2.5em;
	}

	a {
		text-decoration: underline;
	}

	h3 {
		font-weight: normal;
	}

	@media (max-width: 1000px) {
		grid-template-columns: 1fr 1fr;
		.about {
			grid-column: 1 / -1;
		}
	}

	@media (max-width: 500px) {
		grid-template-columns: 1fr;
	}
}

.copyright {
	text-align: center;
	background-color: rgba(148, 148, 148, 0.2);
	padding: .5rem;
}

/* Member dialog */

.signup__dialog {
	.bg_darkener {
		background-color: rgba(0, 0, 0, .5);
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1000;
	}

	.signup__modal {
		position: fixed;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
		max-width: 44rem;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 1001;

		.container {
			background-color: var(--clr-white);
			border-radius: .5rem;
			padding: 2rem;
		}

		.actionbar {
			display: flex;
			justify-content: end;

			.close-btn img {
				height: 1.5em;
			}
		}

		.signup__form {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 1rem;
			padding: .5rem 2rem 2rem;

			input {
				width: 100%;
			}

			.accept-terms {
				display: flex;
				align-items: start;
				gap: .5rem;

				input {
					margin: .25rem;
					display: block;
					width: fit-content;
				}
			}

			.btn {
				width: fit-content;
			}

			.error_message {
				color: red;
				font-size: .8rem;
			}

			#valid-text {
				color: var(--clr-primary);
			}

			@media (max-width: 500px) {
				grid-template-columns: 1fr;
				padding: .5rem;
			}
		}
	}
}